pytest==9.0.2
requests==2.32.4
Werkzeug==3.0.3
uvicorn==0.40.0
fastapi==0.128.0
flask==3.0.3
sanic==25.3.0

#dev dependencies
marshmallow==4.1.2
coverage==7.13.1
python-dotenv==1.0.1
setuptools==80.9.0
